name: "Flutter Custom Docker Image"

on:
    workflow_dispatch:
#   push:
#     paths:
#       - 'Dockerfile.development'
#       - '.env.dockerfile.development'
#       - '.github/workflows/build_development_image.yaml'

jobs:
  buildimage:
    runs-on: ubuntu-latest
    steps:
    
      - uses: actions/checkout@v3
  
    #   - name: Get Arguments for Docker Build
    #     run: |                    
    #       DOCKER_ARGUMENTS=$(cat .env.dockerfile.development |  tr '\n' ' ')
    #       echo "DOCKER_ARGUMENTS=$DOCKER_ARGUMENTS" >> $GITHUB_ENV

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          registry: registry.hub.docker.com
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
        
      - name: Build docker image and push to registry
        id: docker_build
        uses: docker/build-push-action@v4
        with:
          tags: registry.hub.docker.com/pepitoenpeligro/flutter-dev:latest
          context: ./apps/client/
          build-args: FLUTTER_VERSION=stable
          file: apps/client/Dockerfile.development
          platforms: linux/amd64
          push: true
          