name: "Flutter Deploy Web Amplify"

on:
    workflow_dispatch:
    # push:
    #   paths:
    #     - 'lib/**'
    #     - '.github/workflows/publish_amplify.yaml'

env:
    S3_BUCKET: dementiapp
    ARTIFAC_NAME: dementiapp.zip
    AMPLIFY_APP_NAME: dementiapp


permissions:
    id-token: write
    contents: write
      
jobs:
    deploy:
          
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v3
              with:
                fetch-depth: 1

            # - name: Create web artifact bundle
            #   shell: bash
            #   run: |
            #     docker run -v `pwd`/apps/client:/home/dementiapp --rm pepitoenpeligro/flutter-dev:latest bash -c "cd /home/dementiapp && flutter pub get && flutter build web --no-sound-null-safety --web-renderer canvaskit --release"
            
            # - name: Install zip
            #   uses: montudor/action-zip@v1

            # - name: Compress web artifact bundle as zaip
            #   run: zip -qq -r ../../$ARTIFAC_NAME ./*
            #   working-directory: apps/client/build/web

    
            - name: Configure AWS Credentials
              uses: aws-actions/configure-aws-credentials@v2 
              with:
                audience: 'sts.amazonaws.com'
                aws-region: 'eu-west-1'
                role-session-name: GitHubActions
                role-to-assume: ${{ secrets.AWS_GITHUB_AMPLIFY_ROLE }}

            # - name: Upload to private bucket
            #   run: |
            #     aws s3 cp ./$ARTIFAC_NAME s3://$S3_BUCKET

            # - name: Start Deployment to Amplifyy
            #   shell: bash
            #   run: |
            #         AMPLIFY_APP_ID=$(aws amplify list-apps | jq -r --arg AMPLIFY_APP_NAME "$AMPLIFY_APP_NAME" '.apps[] | select((.name==$AMPLIFY_APP_NAME)) | .appId')
            #         AMPLIFY_APP_BRANCH=$(aws amplify list-apps | jq -r --arg AMPLIFY_APP_NAME "$AMPLIFY_APP_NAME" '.apps[] | select((.name==$AMPLIFY_APP_NAME)) | .productionBranch.branchName')
            #         aws amplify start-deployment \
            #         --app-id $AMPLIFY_APP_ID \
            #         --branch-name $AMPLIFY_APP_BRANCH \
            #         --source-url s3://$S3_BUCKET/$ARTIFAC_NAME